    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body {
        background-color:rgb(156, 39, 88);
        font-family:'poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 100vh;
    }


    .clock {
        width: 300px;
        height: 300px;
        background-color:aliceblue;
        border-radius: 50%;
        position: relative;
        border: 10px black solid;
    }

   


    .clock .number {
        --rotation:0;
        position: absolute;
        font-size: 1rem;
        transform: rotate(var(--rotation));
        height:100%;
        width:100%;
        text-align:center;
    }

    .clock .number1 { --rotation: 15deg;}
    .clock .number2 { --rotation: 30deg;}
    .clock .number3 { --rotation: 45deg;}
    .clock .number4 { --rotation: 60deg;}
    .clock .number5 { --rotation: 75deg;}
    .clock .number6 { --rotation: 90deg;}
    .clock .number7 { --rotation: 105deg;}
    .clock .number8 { --rotation: 120deg;}
    .clock .number9 { --rotation: 135deg;}
    .clock .number10 { --rotation: 150deg;}
    .clock .number11 { --rotation: 165deg;}
    .clock .number12 { --rotation: 180deg;}
    .clock .number13 { --rotation: 195deg;}
    .clock .number14 { --rotation: 210deg;}
    .clock .number15 { --rotation: 225deg;}
    .clock .number16 { --rotation: 240deg;}
    .clock .number17 { --rotation: 255deg;}
    .clock .number18 { --rotation: 270deg;}
    .clock .number19 { --rotation: 285deg;}
    .clock .number20 { --rotation: 300deg;}
    .clock .number21 { --rotation: 315deg;}
    .clock .number22 { --rotation: 330deg;}
    .clock .number23 { --rotation: 345deg;}
    .clock .number24 { --rotation: 0deg;}

  

    .clock .hand {
        --rotation:300;
        position:absolute;
        left: 50%;
        bottom:50%;
        border:1px solid white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color:black;
        z-index:5;
        transform-origin: bottom;
        transform: translatex(-50%) rotate(calc(var(--rotation) * 1deg))
    }

    .clock::after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-color:black;
        top:50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index:10;
    }

    .clock .hand.second {
        width: 4px;
        height: 45%;
        background-color:red;
    }
    .clock .hand.minute {
        width: 7px;
        height: 40%;
        background-color:black;
    }
    .clock .hand.hour {
        width: 10px;
        height: 30%;
        background-color:black;
    }

