    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    body {
        background-color:rgb(156, 39, 88);
        font-family:'poppins', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 100vh;
    }


    .clock {
        width: 300px;
        height: 300px;
        background-color:aliceblue;
        border-radius: 50%;
        position: relative;
        border: 10px black solid;
    }

   


    .clock .number {
        --rotation:0;
        position: absolute;
        font-size: 1rem;
        transform: rotate(var(--rotation));
        height:100%;
        width:100%;
        text-align:center;
    }

    .clock .number1 { --rotation: 35deg;}
    .clock .number2 { --rotation: 65deg;}
    .clock .number3 { --rotation: 95deg;}
    .clock .number4 { --rotation: 125deg;}
    .clock .number5 { --rotation: 155deg;}
    .clock .number6 { --rotation: 185deg;}
    .clock .number7 { --rotation: 215deg;}
    .clock .number8 { --rotation: 245deg;}
    .clock .number9 { --rotation: 275deg;}
    .clock .number10 { --rotation: 305deg;}
    .clock .number11 { --rotation: 335deg;}

  

    .clock .hand {
        --rotation:300;
        position:absolute;
        left: 50%;
        bottom:50%;
        border:1px solid white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color:black;
        z-index:5;
        transform-origin: bottom;
        transform: translatex(-50%) rotate(calc(var(--rotation) * 1deg))
    }

    .clock::after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-color:black;
        top:50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index:10;
    }

    .clock .hand.second {
        width: 4px;
        height: 45%;
        background-color:red;
    }
    .clock .hand.minute {
        width: 7px;
        height: 40%;
        background-color:black;
    }
    .clock .hand.hour {
        width: 10px;
        height: 30%;
        background-color:black;
    }

